#about {
  padding: 3vw 10vw;

  @include media-max("phone-down") {
    padding: 0 3vw;
  }

  p {
    font-size: 1.7vw;
    line-height: 1.8vw;
    margin-top: 2vw;

    @include media-max("tablet-up") {
      font-size: 2.5vw;
      line-height: 2.9vw;
    }

    @include media-max("phone-down") {
      font-size: 6vw;
      line-height: 8vw;
      margin-top: 6vw;
    }
  }
}
