#skills {
  padding: 4vw 15vw;

  @include media-max("phone-down") {
    padding: 6vw 6vw;
  }

  p {
    font-size: 1.7vw;
    line-height: 2vw;

    @include media-max("tablet-up") {
      font-size: 2.5vw;
      line-height: 2.9vw;
    }

    @include media-max("phone-down") {
      font-size: 6vw;
      line-height: 8vw;
    }
  }
}

.skills-list {
  display: flex;
  margin-top: 2vw;
    div {
      width: 50%;
    }
}

.first-div {
  border-right: 0.5vw solid;
  margin-right: 2vw;
  padding-right: 5px;
}
