// .index-background {
//   background-image: url(background_home.svg);
//   background-repeat: no-repeat;
//   background-size: 100%;
// }

.banner-background {
  background-image: url(background_banner.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.middle-background {
  background-image: url(background_middle.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.end-background {
  background-image: url(background_end.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.background-show {
  background-image: url(background_show.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.white-background{
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5vh 5vw;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
  border-radius: 20px;

  @include media-max("phone-down") {
    padding: 2vh 4vw;
  }

  h1 {
    line-height: 8vh;
  }
}

.show .white-background {
  @include media-max("tablet-down") {
    width: 100%;
    margin: 0 4vw;
  }
}
