.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 9vw;
  h1 {
    margin: 15vw 0 0 11vw;
  }

  @include media-max("phone-down") {
    padding-bottom: 20vw;
  }
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  height: 100%;
  transform: translate(0%,0%);
    &:hover {
      .arrow {
        @include media-max("phone-down") {
          box-shadow: 1vw -1vw 0 #FA9191;
        }

        border-color: $blue;
        box-shadow: 0.4vw -0.4vw 0 #FA9191;
      }

    }
  }

  .arrow {
    position: absolute;
    top: 3vw;
    width: 3vw;
    height: 3vw;
    background: transparent;
    border-top: 0.6vw solid $blue;
    border-right: 0.6vw solid $blue;
    transition: all 200ms ease;
    transform: translate3d(0,-50%,0) rotate(135deg);

    @include media-max("phone-down") {
      top: 6vw;
      width: 6vw;
      height: 6vw;
      border-top: 2vw solid $blue;
      border-right: 2vw solid $blue;
    }
    }
