.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 9vw;
  h1 {
    margin: 15vw 0 0 11vw;
  }

  @include media-max("phone-down") {
    padding-bottom: 20vw;
  }
}
