.card {
  position: absolute;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
  img {
    // height: 23vw;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
  }
}

.card-background input[type=radio] {
  display: none;
}

.cards {
  position: relative;
  width: 100%;
  // height: 25vw;
}

.card-background {
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  transition: background-color 1.5s;
}
// .second_background {//
// }
