@media only screen and (min-width: 1201px){
  /*Desktop*/

  .cards img {
    height: 23vw;
  }

  .cards {
    height: 23vw;
  }
  .player {
    min-width: 25vw;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 1200px){
  /*Tablets*/

  .cards img {
    height: 30vw;
  }

  .cards {
    height: 30vw;
  }
  .player {
    min-width: 28vw;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 992px){
  /*laptops*/

  .cards img {
    height: 35vw;
  }

  .cards {
    height: 35vw;
  }
  .player {
    min-width: 28vw;
    margin-top: 35px;
  }
}

#projects {
  padding: 3vw 15vw;
}

#item-1:checked ~ .cards #project-3, #item-2:checked ~ .cards #project-1, #item-3:checked ~ .cards #project-2 {
  transform: translatex(-40%) scale(.8);
  // opacity: .6;
  z-index: 0;
  a {
    pointer-events: none;
  }
}

#item-1:checked ~ .cards #project-2, #item-2:checked ~ .cards #project-3, #item-3:checked ~ .cards #project-1 {
  transform: translatex(40%) scale(.8);
  // opacity: .6;
  z-index: 0;
  a {
    pointer-events: none;
  }
}

#item-1:checked ~ .cards #project-1, #item-2:checked ~ .cards #project-2, #item-3:checked ~ .cards #project-3 {
  transform: translatex(0) scale(1);
  z-index: 1;
}

.player {
  background-color: white;
  border-radius: 8px;
  // min-width: 25vw;
  padding: 16px 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 39px;
  overflow: hidden;
}

.project-info {
  display: block;
}

.project-info .title {
  font-weight: 700;
  // font-size: 14px;
  line-height: 24px;
}

.subtitle {
  font-size: 12px;
  line-height: 16px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  transition: transform .4s ease-in;
}

#item-2:checked ~ .player #slide {
  transform: translateY(0);
}

#item-2:checked ~ .player #slide  {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #slide  {
  transform: translateY(-80px);
}
