.menu {
  position: fixed;
  background: $yellow;
  width: 3em;
  height: 3em;
  border-radius: 5em;
  margin: 7em 1em;
  margin-right: 100px;
  cursor: pointer;
  font-size: 20px;
    &:hover {
      background: $pink;
      &:after {
        border-top: 0.6em double $yellow;
        border-bottom: 0.2em solid $yellow;
      }
    }
}

.menu:after {
  content: "";
  position: absolute;
  top: 1em;
  left: 1em;
  width: 1em;
  height: 0.2em;
  border-top: 0.6em double white;
  border-bottom: 0.2em solid white;
}

.menu ul {
  list-style: none;
  padding: 0;
}
.menu li {
  width: 5em;
  height: 1.4em;
  padding: 0.2em;
  margin-top: 0.2em;
  text-align: center;
  border-radius: 0.5em;
  transition: all 0.7s;
  background: $pink;
  opacity: 0;
  z-index: -1;
}
.menu:hover li {
  opacity: 1;
}

.menu:hover ul::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
  top: -7.0em;
  border-width: 8.5em;
  border-left: 0;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  z-index: -1;
  cursor: default;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu ul {
  transform: rotate(180deg) translateY(-2em);
  transition: 0.5s all;
}
.menu:hover ul {
  transform: rotate(0deg) translateY(-1em);
}
.menu li:hover {
  z-index: 2;
  a {
    color: $yellow;
  }
}

.menu li:nth-of-type(1) {
  transform: rotate(-90deg);
  position: absolute;
  left: -1em;
  top: -2.9em;
}
.menu li:nth-of-type(2) {
  transform: rotate(-45deg);
  position: absolute;
  left: 1.5em;
  top: -1.9em;
}
.menu li:nth-of-type(3) {
  position: absolute;
  left: 2.5em;
  top: 0.6em;
}
.menu li:nth-of-type(4) {
  transform: rotate(45deg);
  position: absolute;
  left: 1.4em;
  top: 3.2em;
}
.menu li:nth-of-type(5) {
  transform: rotate(90deg);
  position: absolute;
  left: -1em;
  top: 4.1em;
}
