h1 {
  font-size: 8vw;
  line-height: 8vw;

  @include media-max("phone-down") {
    font-size: 13vw;
    line-height: 15vw;
  }
}

h2{
  margin: 0;
  font-size: 7vw;

  @include media-max("phone-down") {
    font-size: 10vw;
  }
}
